* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}
main {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  color: #0d1321;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

.nav-btn {
  padding: 17px 24px;
  background-color: #ffffff;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: #0d1321;
}

.banner {
  background: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;
  justify-content: center;
  align-items: cover;
  height: 80vh;
}

.coder {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.banner-title {
  color: rgb(13, 19, 33);
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}

.banner-dsc {
  text-align: center;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  line-height: 26px;
}

.banner-btn {
  display: flex;
  justify-content: center;
}

.b-btn {
  padding: 21px 24px;
  background: rgb(13, 19, 33);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 8px;
  margin-top: 32px;
}

.b-btn:hover {
  cursor: pointer;
}

/* -------------------------------------------------------- */
.development {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.development-title {
  text-align: center;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}

.development-dsc {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
}

.card {
  margin: 48px 97px 0px 97px;
  padding: 48px;
  display: flex;
  gap: 99px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-2 {
  margin: 32px 97px 0px 97px;
  padding: 48px;
  display: flex;
  flex-direction: row-reverse;
  gap: 99px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-3 {
  margin: 32px 97px 0px 97px;
  padding: 48px;
  display: flex;
  flex-direction: row-reverse;
  gap: 99px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.card-dsc {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

.card-button {
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 32px;
}

.inspiration {
  margin-top: 90px;
}
.section-title {
  text-align: center;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}

.section-dsc {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.iframe {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.video {
  width: 100%;
  height: 650px;
  border-radius: 16px;
  padding: 32px;
}

.target {
  margin-top: 151px;
}

.current-card {
  display: flex;
  gap: 24px;
}

.html {
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.css {
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.js {
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.current-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  margin-top: 24px;
}

.current-dsc {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
}

.current-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 24px;
  text-decoration-line: underline;
}

.support {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;
  border-radius: 16px;
  justify-content: center;
  align-items: cover;
  height: 313px;
}

.support-title {
  color: rgb(255, 255, 255);
  padding-top: 64px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.support-dsc {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 16px;
}

.text-input {
  width: 548px;
  padding: 19px 20px 19px 20px;
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.submit {
  width: 120px;
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600;
  line-height: 23px;
}

.footer {
  background: rgba(13, 19, 33, 0.03);
  margin-top: 80px;
  padding: 32px 200px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

.img {
  margin-left: 24px;
}
